Repository flex-development/gh-commit: changes, and which lint-staged commands are due for each by the changed paths.
All: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck, yarn dedupe --check, vitest run --changed --coverage

test(providers): [`RunnerService`] stabilize tests
  __tests__/setup/index.ts
  src/providers/__tests__/runner.service.integration.spec.ts
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck, vitest run --changed --coverage

build: tree shake `package.json` imports
  build.config.ts
  dist/main.mjs
  dist/main.mjs.map
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck

test: intercept github api requests with msw
  .commitlintrc.cts
  __fixtures__/input-api.fixture.ts
  __fixtures__/server.fixture.ts
  __tests__/setup/index.ts
  __tests__/utils/git.util.ts
  dist/main.mjs
  dist/main.mjs.map
  package.json
  src/commands/__tests__/commit.handler.spec.ts
  src/octokit.module.ts
  src/providers/__tests__/runner.service.integration.spec.ts
  src/queries/__tests__/branch.handler.spec.ts
  tsconfig.json
  vitest-env.d.ts
  yarn.lock
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck, yarn dedupe --check, vitest run --changed --coverage

docs: what is this?
  README.md
  commit.png
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

docs: use
  .eslintrc.base.cjs
  .github/workflows/release-branch.yml
  .vscode/settings.json
  README.md
  action.yml
  src/types/inputs.ts
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck, vitest run --changed --coverage

build(deps-dev): bump @flex-development/grease from 3.0.0-alpha.3 to 3.0.0-alpha.4
  .github/workflows/ci.yml
  .github/workflows/release-branch.yml
  .github/workflows/release.yml
  package.json
  yarn.lock
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore(providers): [`RunnerService`] cleanup test file
  src/providers/__tests__/runner.service.integration.spec.ts
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck, vitest run --changed --coverage

ci(workflows): add `release-chore`
  .commitlintrc.cts
  .github/workflows/ci.yml
  .github/workflows/release-chore.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  scripts/release.sh
Due: dprint check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest run --changed --typecheck

Path conditions:
  dprint check: any of: *
  cspell lint --color --no-progress --relative $@: any of: *
  eslint --exit-on-fatal-error: any of: **/*.{cjs,cts,gql,js,json,json5,jsonc,jsx,md,mjs,mts,ts,tsx,yaml,yml}
  vitest run --changed --typecheck: any of: **/*.{cts,mts,ts}
  yarn dedupe --check: any of: **/yarn.lock
  vitest run --changed --coverage: any of: src/**/*.ts
